// tabs1-01
// ==================================================/
// up to 3 tabs
@mixin tabs1-01_theme() {
  .tabs1-01 {
    background-color: #141416;

    // tab color
    > input[type="radio"] + label {
      background-color: #e2e0e1;
      border: 1px solid #2a2a2d;

      &:hover {
        background-color: #eee;
      }  
    }

    > input[type="radio"]:checked + label {
      background-color: #fff;
      border-bottom-color: #141416;  
      border-top: 2px solid #be0101; 
    }

    > div {
      border: 1px solid #2a2a2d;  
      color: #d5d5d5;
    }
  }
}
@include tabs1-01_theme();


.tabs1-01 {
  > input[type="radio"] {
    position: absolute;
    left: -9999px;
    top: -9999px;
  }

  > input[type="radio"] + label {
    display: inline-block;
    border-radius: 3px 3px 0 0; /* tl tr br bl */ 
    padding: 5px 10px;
  }

  > input[type="radio"]:focus + label {
    
  }

  > input[type="radio"]:checked + label {
    // font-weight: bold;
  }

  > div {
    @extend %padd--4;
    display: none;
    margin-top: -1px;
    height: 100%;
    overflow: auto;
  }

  .tabs1-01_tab1:checked ~ .tabs1-01_content1, 
  .tabs1-01_tab2:checked ~ .tabs1-01_content2, 
  .tabs1-01_tab3:checked ~ .tabs1-01_content3 {
    display: block;
  }
}

// tabs1-01 media queries
// ==================================================/
// up to 3 tabs
// mobile portrait (320x480) 
@include mq($from: mobile) {
  .tabs1-01 {
    > input[type="radio"] + label {
      width: 28%;
      
    }
  }
}

// *mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .tabs1-01 {
    > input[type="radio"] + label {
      width: auto;      
    }
  }
}

// tabs1-02
// ==================================================/
.tabs1-02 {
  > input[type="radio"] {
    position: absolute;
    left:-9999px;
    top:-9999px;
  }

  > input[type="radio"] + label {
    float: right;
    margin: 0 2px -1px 2px; /* trbl */
    display: inline-block;
    background-color: #fff;
    border: 1px solid #000;  
    border-radius: 3px 3px 0px 0px; /* tl tr br bl */ 
    padding: 5px 10px;
  }

  > input[type="radio"]:focus + label {
    border: 1px solid #000;
  }

  > input[type="radio"]:checked + label {
    font-weight: bold;
    border-bottom-color: #fff;  
  }

  > div {
    display: none;
    padding: 10px 10px;
    width: 100%;
    background-color: white;
    border: 1px solid black;  
    overflow: auto;
  }

  .tabs1-02_tab1:checked ~ .tabs1-02_content1, 
  .tabs1-02_tab2:checked ~ .tabs1-02_content2, 
  .tabs1-02_tab3:checked ~ .tabs1-02_content3 {
    display: block;
  }
}

// tabs1-02 media queries
// ==================================================/
// up to 3 tabs
// mobile portrait (320x480) 
@include mq($from: mobile) {
  .tabs1-02 {
    > input[type="radio"] + label {
      width: 28%;      
    }
  }
}

// *mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .tabs1-02 {
    > input[type="radio"] + label {
      width: auto;      
    }
  }
}

// tabs1-03
// ==================================================/
// up to 3 tabs
.tabs1-03 {
  @extend %text--center;

  > input[type="radio"] {
    position: absolute;
    left: -9999px;
    top: -9999px;
  }

  > input[type="radio"] + label {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #000;  
    border-radius: 3px 3px 0px 0px; /* tl tr br bl */ 
    padding: 5px 10px;
  }

  > input[type="radio"]:focus + label {
    border: 1px solid #000;
  }

  > input[type="radio"]:checked + label {
    font-weight: bold;
    border-bottom-color: #fff;  
  }

  > div {
    @extend %text--left;
    display: none;
    margin-top: -1px;
    padding: 10px 10px;
    height: 100%;
    background-color: white;
    border: 1px solid black;  
    overflow: auto;
  }

  .tabs1-03_tab1:checked ~ .tabs1-03_content1, 
  .tabs1-03_tab2:checked ~ .tabs1-03_content2, 
  .tabs1-03_tab3:checked ~ .tabs1-03_content3 {
    display: block;
  }
}

// tabs1-03 media queries
// ==================================================/
// up to 3 tabs
// mobile portrait (320x480) 
@include mq($from: mobile) {
  .tabs1-03 {
    > input[type="radio"] + label {
      width: 28%;
      
    }
  }
}

// *mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .tabs1-03 {
    > input[type="radio"] + label {
      width: auto;      
    }
  }
}

// tabs1-04
// ==================================================/
// up to 3 tabs
.tabs1-04 {
  @extend %text--center;

  > input[type="radio"] {
    position: absolute;
    left: -9999px;
    top: -9999px;
  }

  > input[type="radio"] + label {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #000;  
    border-radius: 3px 3px 0px 0px; /* tl tr br bl */ 
    padding: 5px 10px;
  }

  > input[type="radio"]:focus + label {
    border: 1px solid #000;
  }

  > input[type="radio"]:checked + label {
    font-weight: bold;
    border-bottom-color: #fff;  
  }

  > div {
    @extend %text--left;
    display: none;
    margin-top: -1px;
    padding: 10px 10px;
    height: 100%;
    background-color: white;
    border: 1px solid black;  
    overflow: auto;
  }

  .tabs1-04_tab1:checked ~ .tabs1-04_content1, 
  .tabs1-04_tab2:checked ~ .tabs1-04_content2, 
  .tabs1-04_tab3:checked ~ .tabs1-04_content3 {
    display: block;
  }
}

// tabs1-03 media queries
// ==================================================/
// up to 3 tabs
// mobile portrait (320x480) 
@include mq($from: mobile) {
  .tabs1-04 {
    > input[type="radio"] + label {
      width: 28%;
      
    }
  }
}

// *mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .tabs1-04 {
    > input[type="radio"] + label {
      width: auto;      
    }
  }
}
